TOInExchange/Service References/TOInExServiceReference/InExchange.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://inexchange.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://inexchange.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://inexchange.com/Imports">
      <xsd:import schemaLocation="https://ws.inexchange.is/InvoiceService/InExchange.InvoiceService.InvoiceService.svc?xsd=xsd0" namespace="http://inexchange.com" />
      <xsd:import schemaLocation="https://ws.inexchange.is/InvoiceService/InExchange.InvoiceService.InvoiceService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://ws.inexchange.is/InvoiceService/InExchange.InvoiceService.InvoiceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/InExchange.InvoiceService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInvoiceService_InvoiceToInExchange_InputMessage">
    <wsdl:part name="parameters" element="tns:InvoiceToInExchange" />
  </wsdl:message>
  <wsdl:message name="IInvoiceService_InvoiceToInExchange_OutputMessage">
    <wsdl:part name="parameters" element="tns:InvoiceToInExchangeResponse" />
  </wsdl:message>
  <wsdl:message name="IInvoiceService_HelloWorld_InputMessage">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="IInvoiceService_HelloWorld_OutputMessage">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="IInvoiceService_IsRecipient_InputMessage">
    <wsdl:part name="parameters" element="tns:IsRecipient" />
  </wsdl:message>
  <wsdl:message name="IInvoiceService_IsRecipient_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsRecipientResponse" />
  </wsdl:message>
  <wsdl:portType name="IInvoiceService">
    <wsdl:operation name="InvoiceToInExchange">
      <wsdl:input wsaw:Action="http://inexchange.com/IInvoiceService/InvoiceToInExchange" message="tns:IInvoiceService_InvoiceToInExchange_InputMessage" />
      <wsdl:output wsaw:Action="http://inexchange.com/IInvoiceService/InvoiceToInExchangeResponse" message="tns:IInvoiceService_InvoiceToInExchange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <wsdl:input wsaw:Action="http://inexchange.com/IInvoiceService/HelloWorld" message="tns:IInvoiceService_HelloWorld_InputMessage" />
      <wsdl:output wsaw:Action="http://inexchange.com/IInvoiceService/HelloWorldResponse" message="tns:IInvoiceService_HelloWorld_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsRecipient">
      <wsdl:input wsaw:Action="http://inexchange.com/IInvoiceService/IsRecipient" message="tns:IInvoiceService_IsRecipient_InputMessage" />
      <wsdl:output wsaw:Action="http://inexchange.com/IInvoiceService/IsRecipientResponse" message="tns:IInvoiceService_IsRecipient_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>