TOInExchange/Service References/TOInExServiceReference/InExchange2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://inexchange.com" elementFormDefault="qualified" targetNamespace="http://inexchange.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://ws.inexchange.is/InvoiceService/InExchange.InvoiceService.InvoiceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/InExchange.InvoiceService" />
  <xs:element name="InvoiceToInExchange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Subaccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Filename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Invoice" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvoiceToInExchangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/InExchange.InvoiceService" minOccurs="0" name="InvoiceToInExchangeResult" nillable="true" type="q1:Reply" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloWorld">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloWorldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HelloWorldResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsRecipient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ReceiverPartyIdentifier" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/InExchange.InvoiceService" minOccurs="0" name="ReceiverPartyIdentifierType" type="q2:PartyIdentifierTypes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsRecipientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsRecipientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>